<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lrkj.dao.BaseUserMapper">

    <select id="findById" resultType="com.lrkj.model.BaseUser">
        select `id`,`nickname`,`account`,`password`,`roleId`,`email`,`phone`,`is_del` from base_user
        where id = #{value}
                    and is_del = 0
    </select>

    <select id="findByMap" resultType="com.lrkj.model.BaseUser">
        select `id`,`nickname`,`account`,`password`,`roleId`,`email`,`phone`,`is_del` from base_user
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="nickname != null and nickname != ''"> and nickname = #{nickname} </if>
            <if test="account != null and account != ''"> and account = #{account} </if>
            <if test="password != null and password != ''"> and password = #{password} </if>
            <if test="roleid != null and roleid != ''"> and roleId = #{roleid} </if>
            <if test="email != null and email != ''"> and email = #{email} </if>
            <if test="phone != null and phone != ''"> and phone = #{phone} </if>
            <if test="isDel != null and isDel != ''"> and is_del = #{isDel} </if>
            and is_del = 0
        </where>
        order by id desc limit 1
    </select>

    <select id="list" resultType="com.lrkj.model.BaseUser">
        select `id`,`nickname`,`account`,`password`,`roleId`,`email`,`phone`,`is_del` from base_user
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="nickname != null and nickname != ''">and nickname = #{nickname}</if>
            <if test="account != null and account != ''">and account = #{account}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="roleid != null and roleid != ''">and roleId = #{roleid}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
            and is_del = 0
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn.trim() != ''">
                order by ${sortColumn} ${orderBy}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <insert id="save" parameterType="com.lrkj.model.BaseUser" useGeneratedKeys="true" keyProperty="id">
        insert into base_user
        (
            <if test="nickname != null">`nickname`,</if>
            <if test="account != null">`account`,</if>
            <if test="password != null">`password`,</if>
            <if test="roleid != null">`roleId`,</if>
            <if test="email != null">`email`,</if>
            <if test="phone != null">`phone`,</if>
            `is_del`
        )
        values
        (
            <if test="nickname != null">#{nickname},</if>
            <if test="account != null">#{account},</if>
            <if test="password != null">#{password},</if>
            <if test="roleid != null">#{roleid},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
            0
        )
    </insert>

    <update id="update" parameterType="com.lrkj.model.BaseUser">
        update base_user
        <set>
            <if test="nickname != null">`nickname` = #{nickname},</if>
            <if test="account != null">`account` = #{account},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="roleid != null">`roleId` = #{roleid},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="isDel != null">`is_del` = #{isDel}</if>
        </set>
        where id = #{id} and is_del = 0
    </update>

    <delete id="delete">
        update base_user
        <set>
            is_del = 1
        </set>
        where id = #{value}
    </delete>


</mapper>