<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.book.dao.BookMapper">

    <select id="findById" resultType="com.book.model.Book">
        select `id`,`book_no`,`book_name`,`book_type`,`press_name`,`author_name`,`status`,`create_time`,`is_del` from book
        where id = #{value}
                    and is_del = 0
    </select>

    <select id="findByMap" resultType="com.book.model.Book">
        select `id`,`book_no`,`book_name`,`book_type`,`press_name`,`author_name`,`status`,`create_time`,`is_del` from
        book
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="bookNo != null and bookNo != ''">and book_no = #{bookNo}</if>
            <if test="bookName != null and bookName != ''">and book_name = #{bookName}</if>
            <if test="bookType != null and bookType != ''">and book_type = #{bookType}</if>
            <if test="pressName != null and pressName != ''">and press_name = #{pressName}</if>
            <if test="authorName != null and authorName != ''">and author_name = #{authorName}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
            and is_del = 0
        </where>
        order by id desc limit 1
    </select>

    <select id="list" resultType="com.book.model.Book">
        select `id`,`book_no`,`book_name`,`book_type`,`press_name`,`author_name`,`status`,`create_time`,`is_del` from
        book
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="bookNo != null and bookNo != ''">and book_no = #{bookNo}</if>
            <if test="bookName != null and bookName != ''">and book_name like '%${bookName}%'</if>
            <if test="bookType != null and bookType != 0">and book_type = #{bookType}</if>
            <if test="pressName != null and pressName != ''">and press_name = #{pressName}</if>
            <if test="authorName != null and authorName != ''">and author_name = #{authorName}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
            and is_del = 0
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn.trim() != ''">
                order by ${sortColumn} ${orderBy}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <insert id="save" parameterType="com.book.model.Book" useGeneratedKeys="true" keyProperty="id">
        insert into book
        (
        <if test="bookNo != null">`book_no`,</if>
        <if test="bookName != null">`book_name`,</if>
        <if test="bookType != null">`book_type`,</if>
        <if test="pressName != null">`press_name`,</if>
        <if test="authorName != null">`author_name`,</if>
        <if test="status != null">`status`,</if>
        <if test="createTime != null">`create_time`,</if>
        `is_del`
        )
        values
        (
        <if test="bookNo != null">#{bookNo},</if>
        <if test="bookName != null">#{bookName},</if>
        <if test="bookType != null">#{bookType},</if>
        <if test="pressName != null">#{pressName},</if>
        <if test="authorName != null">#{authorName},</if>
        <if test="status != null">#{status},</if>
        <if test="createTime != null">#{createTime},</if>
        0
        )
    </insert>

    <update id="update" parameterType="com.book.model.Book">
        update book
        <set>
            <if test="bookNo != null">`book_no` = #{bookNo},</if>
            <if test="bookName != null">`book_name` = #{bookName},</if>
            <if test="bookType != null">`book_type` = #{bookType},</if>
            <if test="pressName != null">`press_name` = #{pressName},</if>
            <if test="authorName != null">`author_name` = #{authorName},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="isDel != null">`is_del` = #{isDel}</if>
        </set>
        where id = #{id} and is_del = 0
    </update>

    <delete id="delete">
        update book
        <set>
            is_del = 1
        </set>
        where id = #{value}
    </delete>


</mapper>