<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inquiry.dao.InquiryMapper">

    <select id="findById" resultType="com.inquiry.model.Inquiry">
        select `id`,`inquiry_name`,`topic_name`,`user_id`,`user_name`,`status`,`create_time`,`end_time`,`is_del` from inquiry
        where id = #{value}
                    and is_del = 0
    </select>

    <select id="findByMap" resultType="com.inquiry.model.Inquiry">
        select `id`,`inquiry_name`,`topic_name`,`user_id`,`user_name`,`status`,`create_time`,`end_time`,`is_del` from inquiry
        <where>
            <if test="id != null and id != ''"> and id = #{id} </if>
            <if test="inquiryName != null and inquiryName != ''"> and inquiry_name = #{inquiryName} </if>
            <if test="topicName != null and topicName != ''"> and topic_name = #{topicName} </if>
            <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
            <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
            <if test="status != null and status != ''"> and status = #{status} </if>
            <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
            <if test="endTime != null and endTime != ''"> and end_time = #{endTime} </if>
            <if test="isDel != null and isDel != ''"> and is_del = #{isDel} </if>
            and is_del = 0
        </where>
        order by id desc limit 1
    </select>

    <select id="list" resultType="com.inquiry.model.Inquiry">
        select `id`,`inquiry_name`,`topic_name`,`user_id`,`user_name`,`status`,`create_time`,`end_time`,`is_del` from inquiry
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="inquiryName != null and inquiryName != ''">and inquiry_name like '%${inquiryName}%'</if>
            <if test="topicName != null and topicName != ''">and topic_name = #{topicName}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="userName != null and userName != ''">and user_name = #{userName}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="isDel != null and isDel != ''">and is_del = #{isDel}</if>
            and is_del = 0
        </where>
        <choose>
            <when test="sortColumn != null and sortColumn.trim() != ''">
                order by ${sortColumn} ${orderBy}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <insert id="save" parameterType="com.inquiry.model.Inquiry" useGeneratedKeys="true" keyProperty="id">
        insert into inquiry
        (
            <if test="inquiryName != null">`inquiry_name`,</if>
            <if test="topicName != null">`topic_name`,</if>
            <if test="userId != null">`user_id`,</if>
            <if test="userName != null">`user_name`,</if>
            <if test="status != null">`status`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="endTime != null">`end_time`,</if>
            `is_del`
        )
        values
        (
            <if test="inquiryName != null">#{inquiryName},</if>
            <if test="topicName != null">#{topicName},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="endTime != null">#{endTime},</if>
            0
        )
    </insert>

    <update id="update" parameterType="com.inquiry.model.Inquiry">
        update inquiry
        <set>
            <if test="inquiryName != null">`inquiry_name` = #{inquiryName},</if>
            <if test="topicName != null">`topic_name` = #{topicName},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="userName != null">`user_name` = #{userName},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="isDel != null">`is_del` = #{isDel}</if>
        </set>
        where id = #{id} and is_del = 0
    </update>

    <delete id="delete">
        update inquiry
        <set>
            is_del = 1
        </set>
        where id = #{value}
    </delete>


</mapper>